Django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.3
asgiref
boto3
botocore
Django
django-filter
django-storages
gunicorn
jmespath
s3transfer
six
numpy
opencv-python
pandas
pillow
ultralytics
ultralytics-thop
sqlparse
urllib3
whitenoise
torch
scipy
requests
pytest
